#root-container {
  /* Ensures that loading spinner is not clipped, even when table is empty. */
  min-height : 300px;
}

.table-checkbox-col {
  padding-right: 25px;
}

.filter-box {
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

.time-filter-form-wrapper {
  margin-left: 3%;
  margin-right: 3%;
  width:94%;
}

.job-refresh-button {
  float:right;
  margin-right:18px;
}

.jobs-table {
  box-shadow:none;
  margin-bottom:20px;
  float: right;
  margin-right: 18px;
  display: contents;
  overflow: scroll;
}

.mat-card {
  box-shadow: none;
  font-size: 14px;
}

.mat-row {
  height: auto;
}

.mat-form-field {
  padding-left: 5px;
  padding-right: 5px;
}

#idInputFormField {
  width: 60px;
}

#dateInputFormField {
  width: 180px;
}

#statusInputFormField {
  width: 140px;
}

#relationshipInputFormField {
  width: 100px;
}

.mat-form-field-infix {
  border-top: 0px;
}

.mat-cell {
  padding: 5px 10px 5px 10px;
}

/* Necessary for the expandable drop-downs. */
.job-detail-row {
  height: 0;
}

.job-detail {
  overflow: hidden;
  display: flex;
}

.job-detail-text {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/* The hidden job detail panels are also 'mat-cells', so without this override,
   these 'hidden' panels would have padding even when in invisible mode. */
.mat-column-expandedDetail {
  padding: 0px;
}

.mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

#loading-overlay {
  background-color: #fafafa;
  height: 100%;
  opacity: .8;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.loading-spinner-wrapper {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  top:50%;
  /*min-height: 300px;*/
  width: 100%;
  z-index: 101;
}

.mat-spinner {
  /*centers spinner*/
  left: 50%;
  margin-left: -50px;
}
