<div id="root-container">
  <div>
    <div class="time-filter-form-wrapper">
      <div class="filter-box" style="border: 1px solid #ebebeb;">
        <mat-card class="time_filters" style="padding:8px;">
          <b> Start Time </b>
          <span> from: </span>
          <mat-form-field id="dateInputFormField" appearance="outline" class="filter"
                          floatLabel="never">
            <input id="startFromTimeInput" matInput
                   [formControl]="filters.getFormControl(jobStartTimeFromFilter)"
                   placeholder='yyyy-MM-dd HH:mm:ss'>
            <mat-error
              *ngIf="filters.getFormControl(jobStartTimeFromFilter).hasError('failedDateParse')">
              Invalid datestring parsed.
            </mat-error>
            <mat-error
              *ngIf="filters.getFormControl(jobStartTimeFromFilter).hasError('dateOutOfBounds')">
              Date entered out of bounds.
            </mat-error>
          </mat-form-field>
          <span> to: </span>
          <mat-form-field id="dateInputFormField" appearance="outline" class="filter"
                          floatLabel="never">
            <input id="startToTimeInput" matInput
                   [formControl]="filters.getFormControl(jobStartTimeToFilter)"
                   placeholder='yyyy-MM-dd HH:mm:ss'>
            <mat-error
              *ngIf="filters.getFormControl(jobStartTimeToFilter).hasError('failedDateParse')">
              Invalid datestring parsed.
            </mat-error>
            <mat-error
              *ngIf="filters.getFormControl(jobStartTimeToFilter).hasError('dateOutOfBounds')">
              Date entered out of bounds.
            </mat-error>
          </mat-form-field>
          <mat-form-field id="idInputFormField" appearance="outline" class="filter"
                          floatLabel="never">
            <mat-label> ID</mat-label>
            <input id="idInput"
                   matInput [formControl]="filters.getFormControl(jobId)">
            <mat-error *ngIf="filters.getFormControl(jobId).hasError('notANonnegativeNumber')">
              Not a number.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="filter header-entry" floatLabel="never">
            <mat-label>Name</mat-label>
            <input
              id="nameInput"
              matInput [formControl]="filters.getFormControl(jobName)">
          </mat-form-field>
          <mat-form-field id="relationshipInputFormField" appearance="outline">
            <mat-label>Parent/Child</mat-label>
            <mat-select id="prioritySelector" class="filter"
                        [formControl]="filters.getFormControl(jobRelationship)">
              <mat-option id="priorityOptions"
                          *ngFor="let relationshipOption of relationshipFilterOptions"
                          value="{{ relationshipOption }}">
                {{ relationshipOption }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field id="statusInputFormField" appearance="outline">
            <mat-label>Queue Status</mat-label>
            <mat-select id="queueStatusSelector" class="filter"
                        [formControl]="filters.getFormControl(queueStatus)">
              <mat-option *ngFor="let queueStatusOption of queueStatusFilterOptions"
                          value="{{ queueStatusOption }}"> {{queueStatusOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button id="filter-button" mat-raised-button color="primary"
                  [disabled]="this.filters.anyErrors()" (click)="filterSubmission()"> Filter
          </button>
          <button
            class="job-refresh-button"
            matTooltip="Refresh"
            mat-icon-button
            (click)="refreshJobs()">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <table mat-table [dataSource]="jobs"
         multiTemplateDataRows
         class="jobs-table mat-elevation-z8">
    <ng-container matColumnDef="job_checkboxes">
      <th mat-header-cell *matHeaderCellDef>
        <app-table-header-selector
          class="select-cb table-checkbox-col"
          [options]="jobSelectOptions"
          (update)="selectionChanged($event)">
        </app-table-header-selector>
      </th>
      <td mat-cell *matCellDef="let element" class="table-checkbox-col">
        <mat-checkbox
          (click)="checkboxClick($event)"
          (change)="$event ? job_selections.toggle(element) : null"
          [checked]="job_selections.hasValue() &&
          job_selections.isSelected(element)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="job_id">
      <th mat-header-cell *matHeaderCellDef>
        <div>Job ID</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{element.getJobId()}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div>Name</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{element.getName()}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>
        <div>Priority</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{getPriorityFromNum(element.getPriority())}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_time_sec_utc">
      <th mat-header-cell *matHeaderCellDef>Created Time</th>
      <td mat-cell *matCellDef="let element">
      <span>
        {{normalizeTimestamp(element.getCreatedTimeSecUtc())}}
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="start_time_sec_utc">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let element">
      <span>
        {{normalizeTimestamp(element.getStartTimeSecUtc())}}
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="finished_time_sec_utc">
      <th mat-header-cell *matHeaderCellDef>Finished Time</th>
      <td mat-cell *matCellDef="let element">
      <span>
        {{normalizeTimestamp(element.getFinishedTimeSecUtc())}}
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="job_status">
      <th mat-header-cell *matHeaderCellDef>
        <div>Job Status</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{getStatusFromNum(element.getStatus())}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell
          *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="job-detail mat-typography"
             [@detailExpand]="element === expandedElement ?
            'expanded' : 'collapsed'">
          <!--TO-DO: Replace with an actual job details component.-->
          <h1 class="job-detail-text">
            TODO : Job details here.
          </h1>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="job-detail-click-layer"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="job-detail-row">
    </tr>
  </table>

  <div>
    <mat-paginator [length]="numJobs"
                   [pageSize]="pageSize"
                   [pageSizeOptions]=[10,25,100,1000]>
    </mat-paginator>
  </div>

  <div id="loading-overlay" *ngIf="loadingJobs">
    <div class="loading-spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
